<template>
    <div class="products">
        <form class="searchbar">
            <input placeholder="Пошук" v-model="search">
            <input type="submit" class="btn">
        </form>
        <div class="product" v-for="(item, index) in filteredItems" :key="item.id">
            <div class="product-image">
                <img :src="item.src">
            </div>
            <div>
                <h4 class="product-title">
                    <router-link :to="'/product/' + item.id">
                        {{ item.item }}
                    </router-link>
                </h4>
                <label>{{ item.price }}</label>
                <button class="btn" @click="addToCart(index)">Додати в кошик</button>
            </div>
        </div>
    </div>
</template>

<script>
import products from '../data/products.js';
import { useStore } from "vuex";

export default {
    data: function () {
        return {
            items: [],
            search: '',
        };
    },
    mounted: function () {
        this.items = products;
    },
    computed: {
        filteredItems: function () {
            if (!this.search) {
                return this.items;
            }
            return this.items.filter(element => {
                return element.item.toUpperCase().includes(this.search.toUpperCase());
            });
        },
    },
    methods: {
        addToCart: function (index) {
            const selectedProduct = this.items[index];
            const existingCartItem = this.$store.state.cart.find(cartItem => cartItem.product.id === selectedProduct.id);


            if (existingCartItem) {
                this.$store.commit('incrementQuantity', this.$store.state.cart.indexOf(existingCartItem));

            } else {
                this.$store.commit('addToCart', selectedProduct);
            }
        },
    },
};
</script>
